
.header {
  height: 70px;
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:20px;
  
}

.header-left {
  width: 70%;
}

.search-box {
  position: relative;
}

.search-input {
  width: 100%;
  padding: 12px 15px 12px 40px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  background: #ffffff;
  font-size: 14px;
}

.search-icon{
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  color: #9ca3af;
}


.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}


.icon-wrapper {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border: 1px solid #eee;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: #fff;
  font-size: 10px;
  padding: 3px 6px;
  border-radius: 50%;
}


.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid #eee;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.name {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.role {
  font-size: 12px;
  color: #6b7280;
}